.row-container {
  display: flex;
  min-height: 100vh;
}

.chat-page-wrapper {
  width: 75%;
  padding: 1.5rem;
  padding-right: 0;
  display: flex;
  height: 92vh;
  padding-top: 0;
}

.receiver-info {
  width: 30%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.chat-container {
  width: 70%;
  margin-right: 2rem;
  overflow-y: auto;
}

/* .chat-container::-webkit-scrollbar {
  display: none;
} */

.chat-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
#msgBox span {
  word-break: break-all;
  display: block;
  width: 100%;
}
.chat-log {
  width: 96%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  /* min-height: 30rem; */
  height: 80%;
  overflow: auto;
  margin-bottom: 1rem;
}

.chat-log::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chat-log {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.chat-input-container {
  display: flex;
  width: 96%;
  padding-right: 0.5rem;
  align-items: center;
}

.chat-input {
  width: 80%;
  outline: none;
  padding: 1rem;
  margin-top: 0.5rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.2);
}
.react-chat-icon {
  width: 2rem;
}
#send-btn {
  padding: 0.5rem 0;
  margin: 0.5rem;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 53px;
  height: 53px;
}
.btn-send-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.receiver-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  padding: 0 1rem 1rem 0;
}

.receiver-img-container {
  width: 40%;
}

.receiver-img-container img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.receiver-name {
  font-size: 1.3rem;
  font-weight: 600;
}

.btn-section {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn-container {
  width: 48%;
}

.row-container .recent-connections {
  height: 100%;
  width: 25%;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.row-container .recent-connections::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 767px) {
  .row-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .chat-page-wrapper {
    height: 92vh;
    width: 100%;
    flex-direction: column-reverse;
    padding: 0.5rem;
    justify-content: flex-end;
  }

  .row-container .recent-connections {
    height: 70vh;
    width: 100%;
  }
  .recent-connections {
    height: 80vh;
  }
  .chat-container {
    width: 100%;
    margin: 0;
    height: 80%;
  }

  .receiver-info {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    height: 15%;
  }

  .receiver-img-container {
    height: 100%;
    width: auto;
  }

  .receiver-img-container img {
    height: 100%;
    width: auto;
  }

  .chat-title {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .message-container {
    font-size: 1.1rem;
  }

  .chat-log {
    height: 47vh;
    width: 100%;
  }
  .chat-input-container {
    height: 20%;
  }
  .chat-input {
    padding: 0.5rem;
    font-size: 0.7rem;
  }

  .btn-send-container .btn-block {
    padding: 0.5rem;
    font-size: 0.7rem;
  }
}
