.create-activity-page-container {
  min-height: 90vh;
  background-color: #aabd8c;
  position: relative;
}

.create-activity-page-container .form-container {
  background-color: #c7eb8e;
  flex-direction: row;
}

.create-activity-page-container .form-container .form {
  justify-content: space-between;
}
.create-activity-page-container .activity-description-wrapper {
  min-height: 25vh;
}

.activity-start-wrapper {
  width: 40%;
}

.activity-end-wrapper {
  width: 40%;
}

.activity-max-people-wrapper {
  width: 20%;
}

.activity-city-wrapper {
  width: 30%;
}
.activity-street-wrapper {
  width: 30%;
}
.activity-post-code-wrapper {
  width: 30%;
}

@media screen and (max-width: 767px) {
  .activity-city-wrapper,
  .activity-street-wrapper,
  .activity-post-code-wrapper,
  .activity-max-people-wrapper {
    width: 40%;
  }
}
