.header {
  /* background-color: hsl(0, 14%, 93%); */
  display: flex;
}

.header-hero-container {
  width: 50%;
  display: flex;
}

.hero {
  width: 100%;
  height: auto;
}

.title {
  /* color: hsl(220, 23%, 23%); */
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bold;
}
.header-home-title {
  font-size: 3rem;
}

.header-btn-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.feature {
  /* background-color: hsl(0, 38%, 88%); */
  display: flex;
}

.feature-img-container {
  width: 50%;
}

.feature-img-container img {
  width: 100%;
  height: auto;
}

.feature-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-para {
  /* color: hsl(0, 0%, 25%); */
  width: 90%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
}

.testimonials-container {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* background-color: hsl(0, 0%, 85%); */
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .header,
  .feature {
    flex-direction: column;
  }

  .feature {
    height: auto;
  }

  .flip {
    flex-direction: column-reverse;
  }

  .header-btn-col,
  .header-hero-container,
  .feature-img-container,
  .feature-description {
    width: 100%;
  }
  .header-btn-col {
    padding-bottom: 3rem;
  }

  .feature-description {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .mobile-mt {
    margin-top: 1rem;
  }
}
