.form-container {
  display: flex;
  align-items: center;
  min-height: 80vh;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* background-color: hsl(0, 14%, 93%); */
}

.form-header {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}

.form {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .form-container {
    height: auto;
  }

  .form {
    width: 90%;
    margin: auto;
  }
}
